<!-- ABOUT US SECTION -->
<section class="about-section" id="about-us-section">
  <div class="about-div container">
    <div class="about-text-div">
      <!-- ABOUT US TITLE -->
      <h2 class="about-title subtitle">About Us</h2>
      <!-- ABOUT US LIST -->
      <p class="about-text ordinary-text first-paragraf">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about-text ordinary-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <!-- ABOUT US IMAGE -->
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/section-about-us/mobile-about-us@1x.jpg 1x,
          ./img/section-about-us/mobile-about-us@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/section-about-us/tablet-about-us@1x.jpg 1x,
          ./img/section-about-us/tablet-about-us@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/section-about-us/desktop1280-about-us@1x.jpg 1x,
          ./img/section-about-us/desktop1280-about-us@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/section-about-us/desktop1440-about-us@1x.jpg 1x,
          ./img/section-about-us/desktop1440-about-us@2x.jpg 2x
        "
      />
      <img
        class="about-img"
        src="./img/section-about-us/mobile-about-us@1x.jpg"
        alt="Vyshyvanka"
        loading="lazy"
        width="335"
        height="499"
      />
    </picture>
  </div>
</section>
