<!-- ABOUT US SECTION -->
<section class="about-section">
  <div class="about-div container">
    <!-- ABOUT US TITLE -->
    <h2 class="about-title subtitle">About Us</h2>
    <!-- ABOUT US LIST -->
    <ul class="about-list">
      <li class="about-list-item">
        <p class="about-text ordinary-text">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
      </li>
      <li class="about-list-item">
        <p class="about-text ordinary-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </li>
    </ul>
    <!-- ABOUT US IMAGE -->
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/section-about-us/mobile-about-us@1x.jpg 1x,
          ../img/section-about-us/mobile-about-us@2x.jpg 2x
        "
        src="../img/section-about-us/mobile-about-us@1x.jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/section-about-us/tablet-about-us@1x.jpg 1x,
          ../img/section-about-us/tablet-about-us@2x.jpg 2x
        "
        src="../img/section-about-us/tablet-about-us@1x.jpg"
      />
      <img class="about-img" alt="Vyshyvanka" loading="lazy" />
    </picture>
  </div>
</section>
