<!-- Header -->
<header class="header-wrapper">
  <div class="container navigation-box">
    <!-- Navigation -->
    <nav class="navigation-wrapper">
      <!-- Logo -->
      <a href="./index.html">
        <img src="./img/header-logo/logo.svg" alt="logo-company" />
      </a>
      <!-- Pages -->
      <ul class="navigation-pages-list-style">
        <li class="navigation-item-style">
          <a href="#" class="link-navigation">About us</a>
        </li>
        <li class="navigation-item-style">
          <a href="#" class="link-navigation"
            >Our collection</a
          >
        </li>
        <li class="navigation-item-style">
          <a href="#" class="link-navigation">CUSTOMER ORDER</a>
        </li>
        <li class="navigation-item-style">
          <a href="#" class="link-navigation">TEstimonials</a>
        </li>
      </ul>
    </nav>

    <div class="header-elements">
      <!-- Contacts -->
      <address>
        <a href="+380684439426" class="number-style"
          >+380 (68) 443-94-26</a
        >
      </address>

      <!-- Social links -->
      <ul class="social-links-list-header">
        <li class="item-social-header">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="social-link"
          >
            <svg class="custom-svg-social" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="item-social-header">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="social-link"
          >
            <svg class="custom-svg-social" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="item-social-header">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="social-link"
          >
            <svg class="custom-svg-social" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- mobile and tablet menu -->
      <button
        class="header-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <!-- Image burger menu -->
        <svg class="header-menu-icon" width="36" height="24">
          <use href="./img/sprite.svg#icon-nav-menu"></use>
        </svg>

        <svg class="header-menu-icon-tablet" width="44" height="30">
          <use href="./img/sprite.svg#icon-nav-tablet"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
