<section id="our-collection" class="our-collection">
  <div class="container our-collection-container">
    <h2 class="subtitle top-title-collection">Our collection</h2>
    <ul class="collection-list">
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-desctop1440px-our-collection@1x.webp 1x,
              ./img/section-our-collection/t-shirt-1-desctop1440px-our-collection@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-desctop1440px-our-collection@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-1-desctop1440px-our-collection@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-desctop1280px-our-collection@1x.webp 1x,
              ./img/section-our-collection/t-shirt-1-desctop1280px-our-collection@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-desctop1280px-our-collection@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-1-desctop1280px-our-collection@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-tablet@1x.webp 1x,
              ./img/section-our-collection/t-shirt-1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/t-shirt-1-tablet@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-1-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/mobile-t-shirt-1-@1x.webp 1x,
              ./img/section-our-collection/mobile-t-shirt-1-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/mobile-t-shirt-1-@1x.jpg 1x,
              ./img/section-our-collection/mobile-t-shirt-1-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="../img/section-our-collection/mobile-t-shirt-1-@1x.jpg"
              alt="black women's blousering"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">AUGUST Poltava women's blousering</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-2-desctop1440px-our-collection-cream@1x.webp 1x,
              ./img/section-our-collection/t-shirt-2-desctop1440px-our-collection-cream@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-2-desctop1440px-our-collection-cream@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-2-desctop1440px-our-collection-cream@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-2-desctop1280px-our-collection-cream@1x.webp 1x,
              ./img/section-our-collection/t-shirt-2-desctop1280px-our-collection-cream@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-2-desctop1280px-our-collection-cream@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-2-desctop1280px-our-collection-cream@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/cream-flowers-t-shirt-2-tablet@1x.webp 1x,
              ./img/section-our-collection/cream-flowers-t-shirt-2-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/cream-flowers-t-shirt-2-tablet@1x.jpg 1x,
              ./img/section-our-collection/cream-flowers-t-shirt-2-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.webp 1x,
              ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.jpg 1x,
              ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.jpg"
              alt="white women's blousering"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">Women's blouse Gorgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1440px-our@1x.webp 1x,
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1440px-our@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1440px-our@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1440px-our@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1280px-our@1x.webp 1x,
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1280px-our@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1280px-our@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-3-white-shirt-desctop1280px-our@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-tablet-white-flowers@1x.webp 1x,
              ./img/section-our-collection/t-shirt-3-tablet-white-flowers@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/t-shirt-3-tablet-white-flowers@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-3-tablet-white-flowers@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@1x.webp 1x,
              ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@1x.jpg 1x,
              ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="./img/section-our-collection/white-flowers-mobile-t-shirt-3-@1x.jpg"
              alt="white women's blousering"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">Women's blouse Crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-4-desctop1440px-our-white-long@1x.webp 1x,
              ./img/section-our-collection/t-shirt-4-desctop1440px-our-white-long@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-4-desctop1440px-our-white-long@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-4-desctop1440px-our-white-long@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-4-desctop1280px-our-white-long@1x.webp 1x,
              ./img/section-our-collection/t-shirt-4-desctop1280px-our-white-long@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-4-desctop1280px-our-white-long@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-4-desctop1280px-our-white-long@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/long-white-t-shirt-4-tablet@1x.webp 1x,
              ./img/section-our-collection/long-white-t-shirt-4-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/long-white-t-shirt-4-tablet@1x.jpg 1x,
              ./img/section-our-collection/long-white-t-shirt-4-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/long-white-mobile-t-shirt-4-@1x.webp 1x,
              ./img/section-our-collection/long-white-mobile-t-shirt-4-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/long-white-mobile-t-shirt-4-@1x.jpg 1x,
              ./img/section-our-collection/long-white-mobile-t-shirt-4-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="./img/section-our-collection/long-white-mobile-t-shirt-4-@1x.jpg"
              alt="white men's shirt"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">Men's shirt Verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-5-desctop1440pxour-collection-black@1x.webp 1x,
              ./img/section-our-collection/t-shirt-5-desctop1440pxour-collection-black@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-5-desctop1440pxour-collection-black@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-5-desctop1440pxour-collection-black@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-5-desctop1280px-our-collection-black@1x.webp 1x,
              ./img/section-our-collection/t-shirt-5-desctop1280px-our-collection-black@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-5-desctop1280px-our-collection-black@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-5-desctop1280px-our-collection-black@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/black-t-shirt-5-tablet@1x.webp 1x,
              ./img/section-our-collection/black-t-shirt-5-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/black-t-shirt-5-tablet@1x.jpg 1x,
              ./img/section-our-collection/black-t-shirt-5-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/black-mobile-t-shirt-5@1x.webp 1x,
              ./img/section-our-collection/black-mobile-t-shirt-5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/black-mobile-t-shirt-5@1x.jpg 1x,
              ./img/section-our-collection/black-mobile-t-shirt-5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="./img/section-our-collection/black-mobile-t-shirt-5@1x.jpg"
              alt="black men's shirt"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">Mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li
        class="collection-iteam"
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-duration="1000"
      >
        <picture>
          <!-- Desktop screen(1440px) -->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1440pxour@1x.webp   1x,
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1440pxour@2x-1.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1440pxour@1x.jpg   1x,
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1440pxour@2x-1.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop screen(1280px) -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1280pxour@1x.webp 1x,
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1280pxour@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1280pxour@1x.jpg 1x,
              ./img/section-our-collection/t-shirt-6-white-with-red-desctop1280pxour@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/white-with-red-t-shirt-6-tablet@1x.webp 1x,
              ./img/section-our-collection/white-with-red-t-shirt-6-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/section-our-collection/white-with-red-t-shirt-6-tablet@1x.jpg 1x,
              ./img/section-our-collection/white-with-red-t-shirt-6-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@1x.webp 1x,
              ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@1x.jpg 1x,
              ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <div class="collection-img-container">
            <img
              class="collection-ill"
              src="./img/section-our-collection/white-and-red-mobile-t-shirt-6-@1x.jpg"
              alt="white women's blousering"
              width="335"
              height="400"
              loading="lazy"
            />
            <div class="collection-img-overlay">
              <button class="collection-img-btn primary-button">Buy</button>
            </div>
          </div>
        </picture>
        <h3 class="collection-title">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
