<section class="our-collection" id="our-collection">
  <div class="container our-collection-container">
    <h2 class="subtitle top-title-collection">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/mobile-t-shirt-1-@1x.jpg 1x,
            ./img/section-our-collection/mobile-t-shirt-1-@2x.jpg 2x
          "
          src="./img/section-our-collection/mobile-t-shirt-1-@1x.jpg"
          alt="black women's blousering"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.jpg 1x,
            ./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.jpg 2x
          "
          src="./img/section-our-collection/cream-flowers-mobile-t-shirt-2-@1x.jpg"
          alt="white women's blousering"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">Women's blouse Gorgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@1x.jpg 1x,
            ./img/section-our-collection/white-flowers-mobile-t-shirt-3-@2x.jpg 2x
          "
          src="./img/section-our-collection/white-flowers-mobile-t-shirt-3-@1x.jpg"
          alt="white women's blousering"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">Women's blouse Crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/long-white-mobile-t-shirt-4-@1x.jpg   1x,
            ./img/section-our-collection/long-white-mobile-t-shirt-4-@2x.jpg2x
          "
          src="./img/section-our-collection/long-white-mobile-t-shirt-4-@1x.jpg"
          alt="white men's shirt"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">Men's shirt Verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/black-mobile-t-shirt-5@1x.jpg 1x,
            ./img/section-our-collection/black-mobile-t-shirt-5@2x.jpg 2x
          "
          src="./img/section-our-collection/black-mobile-t-shirt-5@1x.jpg"
          alt="black men's shirt"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">Mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-iteam">
        <img
          class="collection-ill"
          srcset="
            ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@1x.jpg 1x,
            ./img/section-our-collection/white-and-red-mobile-t-shirt-6-@2x.jpg 2x
          "
          src="./img/section-our-collection/white-and-red-mobile-t-shirt-6-@1x.jpg"
          alt="white women's blousering"
          width="335"
          loading="lazy"
        />
        <h3 class="collection-title">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
