<div class="backdrop is-hidden" data-modal>
  <div
    class="sidebar-menu-container js-menu-container is-close"
    id="mobile-menu"
  >
    <div class="sidebar-elements">
      <address>
        <a href="tel:+380684439426" class="sidebar-menu-number"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button class="menu-toggle js-close-menu" type="button" data-modal-close>
        <svg class="x-close-icon" width="36" height="36">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="sidebar-menu-wrapper">
      <ul class="sidebar-menu">
        <li>
          <a
            class="sidebar-menu-link menu-link"
            href="#about-us-section"
            data-sidebar
            >About us</a
          >
        </li>
        <li>
          <a
            class="sidebar-menu-link menu-link"
            href="#our-collection"
            data-sidebar
            >Our collection</a
          >
        </li>
        <li>
          <a
            class="sidebar-menu-link menu-link"
            href="#customer-order"
            data-sidebar
            >Customer order</a
          >
        </li>
        <li>
          <a
            class="sidebar-menu-link menu-link"
            href="#testimonials"
            data-sidebar
            >TEstimonials</a
          >
        </li>
      </ul>
    </div>

    <div class="sidebar-ornament"></div>
  </div>
</div>
