/* ABOUT US SECTION */

.about-section {
    padding: 40px 0 80px 0;
    background-color: var(--secondary-cl);
    background-image: url(../img/section-about-us/elements-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: left calc(50% + 167px) bottom 18px;
    background-size: 459px 408px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .about-section {
        background-image: url(../img/section-about-us/elements-mobile@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .about-section{
        padding: 50px 0 100px 0;
        background-image: url(../img/section-about-us/elements-tablet@1x.png);
        background-position: left calc(50% + 287.5px) bottom 50px;
        background-size: 545px 484px;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .about-section {
            background-image: url(../img/section-about-us/elements-tablet@2x.png);
        }
    }
}

@media screen and (min-width: 1280px) {
    .about-section {
        padding: 75px 0 150px 0;
        background-image: url(../img/section-about-us/elements-desktop-1@1x.png);
        background-position: left calc(50% + 527.5px) bottom 80px;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .about-section {
            background-image: url(../img/section-about-us/elements-desktop-1@2x.png);
        }
    }
}

@media screen and (min-width: 1440px) {
    .about-section {
        background-image: url(../img/section-about-us/elements-desktop-2@1x.png);
        background-position: left calc(50% + 447.5px) bottom 80px;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .about-section {
            background-image: url(../img/section-about-us/elements-desktop-2@2x.png);
        }
    }
}

@media screen and (min-width: 1280px) {
    .about-div {
        display: flex;
        gap: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .about-text-div{
        margin: 45.5px 0;
    }
}

@media screen and (min-width: 1440px) {
    .about-text-div {
        margin: 79px 0;
    }
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-list-item:last-child {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .about-list-item:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .about-list-item:last-child {
        margin-bottom: 0px;
    }
}

.about-text {
    letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
    .about-text{
        letter-spacing: -0.64px;
    }
}

@media screen and (min-width: 1280px) {
    .about-text {
        max-width: 436px;
    }
}

@media screen and (min-width: 1440px) {
    .about-text {
        max-width: 481px;
    }
}

.about-img {
    border-radius: 4px;
}

@media screen and (min-width: 1280px) {
    .about-img {
        width: 594px;
        height: 545px;
    }
}

@media screen and (min-width: 1440px) {
    .about-img {
        width: 709px;
        height: 545px;
    }
}