body {
  background-color: var(--primary-bg-cl);
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--light-cl-40);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* section-title h2 */
.subtitle {
  color: var(--primary-cl);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 44px;
    line-height: 1.45;
  }
}

/* for highlighted yellow text */
.acent-text {
  color: var(--accent-cl);
}

/* common text styles in section "About-us" and "Testimonials" */
.ordinary-text {
  color: var(--light-cl-40);
  font-size: 14px;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .ordinary-text {
    font-size: 16px;
  }
}

/* common links styles in heder and footer" */
.menu-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

/* common styles for button "Order" and "Send" */
.primary-button {
  display: inline-flex;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid var(--light-cl-10);
}

@media screen and (min-width: 768px) {
  .primary-button {
    display: flex;
    padding: 14px 39px;
  }
}
