html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--primary-bg-cl);
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--light-cl-40);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* section-title h2 */
.subtitle {
  color: var(--primary-cl);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 44px;
    line-height: 1.45;
  }
}

/* for highlighted yellow text */
.acent-text {
  color: var(--accent-cl);
}

/* common text styles in section "About-us" and "Testimonials" */
.ordinary-text {
  color: var(--light-cl-40);
  font-size: 14px;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .ordinary-text {
    font-size: 16px;
  }
}

/* common links styles in heder and footer" */
.menu-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

/* common styles for button "Order" and "Send" */
.primary-button {
  display: inline-flex;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--primary-cl);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  border-radius: 15px;
  border: 1px solid var(--light-cl-10);
  background-color: transparent;
  transition: border-color var(--trans);

  min-width: 168px;
  height: 50px;
  position: relative;
  transition: 0.8s;
}

.primary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
  border-radius: 15px;
}

.primary-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-cl);
  transition: transform 0.8s;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 15px;
}

.primary-button:hover::after {
  transition: transform 0.8s;
  transform-origin: left;
  transform: scaleX(1);
}

.primary-button:hover {
  color: var(--secondary-cl);
  border-color: var(--secondary-cl);
}

.primary-button:focus {
  border-color: var(--accent-cl);
}

.primary-button-icon {
  fill: var(--accent-cl);
}

.primary-button:hover .primary-button-icon {
  fill: var(--secondary-cl);
}

@media screen and (min-width: 768px) {
  .primary-button {
    font-size: 16px;
    display: flex;
    padding: 14px 39px;
  }
}
