.hero {
  padding-top: 132px;
  padding-bottom: 40px;
}

.hero-content {
  margin-bottom: 40px;
}

.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  color: var(--primary-cl);
  margin-bottom: 20px;
}

.hero-btn {
  display: flex;
  margin: 0 auto;
}

.hero-images {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 152px;
    padding-bottom: 50px;
  }
  .hero-container {
    position: relative;
    display: flex;
    gap: 40px;
  }
  .hero-title {
    font-size: 54px;
    line-height: 1.18;
    margin-bottom: 40px;
    padding-top: 26px;
    width: 549px;
  }
  .hero-btn {
    margin: 0 0 40px 140px;
  }
  .hero-images {
    display: block;
    position: relative;
  }
  .hero-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .hero-star-svg {
    fill: var(--accent-cl);
  }

  .content-wrap {
    display: inline-block;
    width: 115px;
    height: 100px;
  }

  .hero-star-content {
    width: 115px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;

    border-right: 5px solid;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: typing 2s steps(15), cursor 0.4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  .hero-embroidered-shirt {
    position: absolute;
    bottom: 0;
    clip-path: ellipse(50% 100% at 50% 100%);
    max-width: 139px;
    right: 0;
  }
  .hero-main-img {
    border-radius: 4px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 172px;
    padding-bottom: 75px;
  }
  .hero-container {
    gap: 15px;
  }
  .hero-main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 40px;
  }
  .hero-title {
    margin-top: 94px;
    padding: 0;
    width: 518px;
  }
  .hero-images {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 170px;
    padding-bottom: 75px;
  }
  .hero-container {
    gap: 61px;
  }
  .hero-title {
    margin-top: 66px;
    font-size: 64px;
    line-height: 1.15;
    width: 630px;
  }
  .hero-images {
    margin-top: 66px;
  }
}
