.hero {
  padding-top: 132px;
  padding-bottom: 40px;
}

.hero-content {
  margin-bottom: 40px;
}

.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  color: var(--primary-cl);
  margin-bottom: 20px;
}

.hero-btn {
  display: flex;
  margin: 0 auto;
  min-width: 168px;
  height: 50px;
  position: relative;
  transition: 0.5s;
}

.hero-btn:hover {
  color: var(--secondary-cl);
  border-color: var(--secondary-cl);
}

.hero-btn:hover .primary-button-icon {
  fill: var(--secondary-cl);
}

.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
  border-radius: 15px;
}

.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-cl);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 15px;
}

.hero-btn:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.hero-images {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 152px;
    padding-bottom: 50px;
  }
  .hero-container {
    position: relative;
    display: flex;
    gap: 40px;
  }
  .hero-title {
    font-size: 54px;
    line-height: 1.18;
    margin-bottom: 40px;
    padding-top: 26px;
    width: 549px;
  }
  .hero-btn {
    margin: 0 0 40px 140px;
  }
  .hero-images {
    display: block;
    position: relative;
  }
  .hero-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .hero-star-svg {
    fill: var(--accent-cl);
  }
  .hero-star-content {
    width: 115px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
  }
  .hero-embroidered-shirt {
    position: absolute;
    bottom: 0;
    clip-path: ellipse(50% 100% at 50% 100%);
    max-width: 139px;
    right: 0;
  }
  .hero-main-img {
    border-radius: 4px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 172px;
    padding-bottom: 75px;
  }
  .hero-container {
    gap: 15px;
  }
  .hero-main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 40px;
  }
  .hero-title {
    margin-top: 94px;
    padding: 0;
    width: 518px;
  }
  .hero-images {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 170px;
    padding-bottom: 75px;
  }
  .hero-container {
    gap: 61px;
  }
  .hero-title {
    margin-top: 66px;
    font-size: 64px;
    line-height: 1.15;
    width: 630px;
  }
  .hero-images {
    margin-top: 66px;
  }
}
