.sidebar-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 100vh;
  background-color: var(--accent-cl);
  z-index: 2;
  transform: translateX(100%);
  transition: transform var(--trans);
}

@media screen and (min-width: 768px) {
  .sidebar-menu-container {
    width: 380px;
  }
}

.sidebar-menu-container.is-open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.sidebar-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 20px 0 20px;
}

.sidebar-menu-number {
  display: inline-flex;
  color: var(--primary-cl);
  font-size: 12px;
  color: var(--secondary-cl);
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid var(--dark-cl-10);
  width: fit-content;
  background-color: transparent;
  transition: border-color var(--trans);
}

@media screen and (min-width: 768px) {
  .sidebar-menu-number {
    font-size: 14px;
    line-height: 1.43;
  }
}

.sidebar-menu-number:hover,
.sidebar-menu-number:focus {
  border-color: var(--secondary-cl);
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.x-close-icon {
  stroke: var(--secondary-cl);
}

@media screen and (min-width: 768px) {
  .x-close-icon {
    width: 44px;
    height: 44px;
  }
}

.sidebar-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0;
  padding: 0 20px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .sidebar-menu {
    gap: 25px;
  }
}

.sidebar-menu-link {
  color: var(--secondary-cl);
}

.sidebar-ornament {
  background-image: url(../img/sidebar-menu/menu-ornament_mob@1x.png);
  width: 100%;
  height: 252px;
  background-size: cover;
}

@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .sidebar-ornament {
    background-image: url(../img/sidebar-menu/menu-ornament_mob@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .sidebar-ornament {
    background-image: url(../img/sidebar-menu/menu-ornament_tab@1x.png);
    height: 364px;
  }
}

@media only screen and (min-width: 767px) and (min-device-pixel-ratio: 2),
  (min-width: 767px) and (min-resolution: 192dpi) {
  .sidebar-ornament {
    background-image: url(../img/sidebar-menu/menu-ornament_tab@2x.png);
  }
}
