/**
  |============================
  | Your Order Section
  |============================
*/
.your-order-section {
  overflow: hidden;
  padding: 40px 0;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-section {
    padding: 50px 0;
  }
}

/* Desktop 1280 view */
@media only screen and (min-width: 1280px) {
  .your-order-section {
    padding: 75px 0;
  }
}

.your-order-section::before {
  content: '';
  display: block;
  width: 100%;
  height: 550px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

  margin-bottom: 76px;
}

/* Mobile view */
@media only screen and (max-width: 374px) {
  .your-order-section::before {
    height: calc(100vw * 1.47);
  }
}

@media only screen and (max-width: 767px) {
  .your-order-section::before {
    background-image: url('../img/section-your-order/bg-img-mobile@1x.jpg');
  }
  /* Use .webp if it is supported */
  @supports (
    background-image: url('../img/section-your-order/bg-img-mobile@1x.webp')
  ) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-img-mobile@1x.webp');
    }
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-img-mobile@2x.jpg');
    }
    /* Use .webp if it is supported */
    @supports (
      background-image: url('../img/section-your-order/bg-img-mobile@2x.webp')
    ) {
      .your-order-section::before {
        background-image: url('../img/section-your-order/bg-img-mobile@2x.webp');
      }
    }
  }
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-section::before {
    height: 776px;
    margin-bottom: 100px;
    background-image: url('../img/section-your-order/bg-transp-image-tablet@1x.png'),
      linear-gradient(170deg, #ccd1cd, #eaeeef);
    /* Use .webp if it is supported */
    @supports (
      background-image:
        url('../img/section-your-order/bg-transp-image-tablet@1x.webp')
    ) {
      .your-order-section::before {
        background-image: url('../img/section-your-order/bg-transp-image-tablet@1x.webp');
      }
    }
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-transp-image-tablet@2x.png'),
        linear-gradient(170deg, #ccd1cd, #eaeeef);
    }
    /* Use .webp if it is supported */
    @supports (
      background-image:
        url('../img/section-your-order/bg-transp-image-tablet@2x.webp')
    ) {
      .your-order-section::before {
        background-image: url('../img/section-your-order/bg-transp-image-tablet@2x.webp'),
          linear-gradient(170deg, #ccd1cd, #eaeeef);
      }
    }
  }
}

/* Desktop 1280 view */
@media only screen and (min-width: 1280px) {
  .your-order-section::before {
    margin-bottom: 150px;
    background-image: url('../img/section-your-order/bg-transp-image-desk1280@1x.png'),
      linear-gradient(170deg, #ccd1cd, #eaeeef);
  }
  /* Use .webp if it is supported */
  @supports (
    background-image:
      url('../img/section-your-order/bg-transp-image-desk1280@1x.webp')
  ) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-transp-image-desk1280@1x.webp'),
        linear-gradient(170deg, #ccd1cd, #eaeeef);
    }
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-transp-image-desk1280@2x.png'),
        linear-gradient(170deg, #ccd1cd, #eaeeef);
    }
    /* Use .webp if it is supported */
    @supports (
      background-image:
        url('../img/section-your-order/bg-transp-image-desk1280@2x.webp')
    ) {
      .your-order-section::before {
        background-image: url('../img/section-your-order/bg-transp-image-desk1280@2x.webp'),
          linear-gradient(170deg, #ccd1cd, #eaeeef);
      }
    }
  }
}

/* Desktop 1440 view */
@media only screen and (min-width: 1440px) {
  .your-order-section::before {
    background-image: url('../img/section-your-order/bg-transp-image-desk1440@1x.png'),
      linear-gradient(170deg, #ccd1cd, #eaeeef);
  }
  /* Use .webp if it is supported */
  @supports (
    background-image:
      url('../img/section-your-order/bg-transp-image-desk1280@2x.webp')
  ) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-transp-image-desk1280@2x.webp'),
        linear-gradient(170deg, #ccd1cd, #eaeeef);
    }
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section::before {
      background-image: url('../img/section-your-order/bg-transp-image-desk1440@2x.png'),
        linear-gradient(170deg, #ccd1cd, #eaeeef);
    }
    /* Use .webp if it is supported */
    @supports (
      background-image:
        url('../img/section-your-order/bg-transp-image-desk1280@2x.webp')
    ) {
      .your-order-section::before {
        background-image: url('../img/section-your-order/bg-transp-image-desk1440@2x.webp'),
          linear-gradient(170deg, #ccd1cd, #eaeeef);
      }
    }
  }
}

/* Your Order container */
.your-order-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* Desktop 1280 view */
@media only screen and (min-width: 1280px) {
  .your-order-container {
    padding-left: 64px;

    flex-direction: row-reverse;
    gap: 50px;
  }
}

/* Desktop 1440 view */
@media only screen and (min-width: 1440px) {
  .your-order-container {
    padding-left: 100px;
  }
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-content-container {
    width: 542px;
  }
}

/* Desktop 1440 view */
@media only screen and (min-width: 1440px) {
  .your-order-content-container {
    width: 666px;
  }
}

/* SubTitle */
/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-section .subtitle {
    line-height: 1.32;
  }
}

 /* Button animation */

.order-btn {
  display: flex;
  margin: 0 auto;
  min-width: 168px;
  height: 50px;
  position: relative;
  transition: 0.5s;
}

.order-btn:hover {
  color: var(--secondary-cl);
  border-color: var(--secondary-cl);
}

.order-btn:hover .primary-button-icon {
  fill: var(--secondary-cl);
}

.order-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
  border-radius: 15px;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-cl);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 15px;
}

.order-btn:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

/* Content image */
.your-order-content-img {
  border-radius: 4px;
}

/* Mobile view*/
@media only screen and (max-width: 767px) {
  .your-order-content-img-container {
    display: none;
  }
}

/* Tablet view*/
@media only screen and (min-width: 768px) {
  .your-order-content-img-container {
    position: relative;
    padding-bottom: 79px;
  }
  .your-order-content-img-container::after {
    content: '';
    display: block;
    width: 545px;
    height: 484px;

    position: absolute;
    top: 116px;
    left: -255px;

    background-image: url('../img/section-your-order/bg-img-content@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* Use .webp if it is supported */
  @supports (
    background-image: url('../img/section-your-order/bg-img-content@1x.webp')
  ) {
    .your-order-content-img-container::after {
      background-image: url('../img/section-your-order/bg-img-content@1x.webp');
    }
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-content-img-container::after {
      background-image: url('../img/section-your-order/bg-img-content@2x.png');
    }
    /* Use .webp if it is supported */
    @supports (
      background-image: url('../img/section-your-order/bg-img-content@2x.webp')
    ) {
      .your-order-content-img-container::after {
        background-image: url('../img/section-your-order/bg-img-content@2x.webp');
      }
    }
  }
}

/* Desktop 1280 view */
@media only screen and (min-width: 1280px) {
  .your-order-content-img-container {
    width: 524px;
    padding-bottom: 119px;
  }
  .your-order-content-img-container::after {
    top: 156px;
    left: -320px;
  }
}

/* Content image */
/* Tablet view*/
@media only screen and (min-width: 768px) {
  .your-order-content-img {
    margin-left: auto;
  }
}

/* Desktop 1280 view */
@media only screen and (min-width: 1280px) {
  .your-order-content-img {
    width: 524px;
    height: 521px;
  }
}

/* Form */
.your-order-form {
  text-align: center;
}

/* Tablet view*/
@media only screen and (min-width: 768px) {
  .your-order-form {
    padding-right: 34px;
    text-align: left;
  }
}

/* Desktop 1440 view */
@media only screen and (min-width: 1440px) {
  .your-order-form {
    padding-right: 158px;
  }
}

/* Form fields */
.form-label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.form-input {
  color: var(--primary-cl);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;

  width: 100%;
  height: 47px;
  padding: 14px 16px;

  border-radius: 15px;
  border: 1px solid var(--light-cl-10);
  background-color: transparent;

  transition: border-color var(--trans);
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .form-input {
    font-size: 16px;
    height: 50px;
  }
}

.form-label-name {
  position: absolute;

  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;

  top: 14px;
  left: 16px;
  transition: transform 0.2s ease;
  background-color: var(--secondary-cl);
  padding: 0 2px;
  z-index: 1111;
}

@media only screen and (min-width: 768px) {
  .form-label-name {
    font-size: 16px;
  }
}

.form-input:focus,
.form-input:valid {
  outline: none;
  border-color: var(--light-cl-60);
}

.form-label-wrap {
  position: relative;
}

.form-input:focus + .form-label-name,
.form-input:valid + .form-label-name {
  transform: translate(14px, -24px);
}

/* Validation */
.form-input:not(:placeholder-shown):required:invalid {
  border-color: var(--error-cl);
}
.form-input:not(:placeholder-shown):required:valid {
  border-color: var(--success-cl);
}
.form-input:not(:placeholder-shown):required:invalid ~ .form-status-error {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity var(--trans), visibility var(--trans),
    transform var(--trans);

  position: relative;
}

.form-input:not(:placeholder-shown):required:invalid ~ .form-label-name {
  color: var(--error-cl);
}

.form-input:not(:placeholder-shown):required:valid ~ .form-label-name {
  color: var(--success-cl);
}

.form-label-comments {
  margin-bottom: 40px;
}

.input-comments {
  resize: none;
  height: 196px;
}

.form-status-error {
  position: absolute;
  bottom: -2px;
  display: block;
  transform: translateY(100%);

  color: var(--error-cl);

  opacity: 0;
  visibility: hidden;
  transition: opacity var(--trans), visibility var(--trans);
}

/* Submit button */
.send-order-btn {
  display: inline;
  color: var(--primary-cl);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  min-width: 145px;
  height: 49px;
  background-color: transparent;
  transition: border-color var(--trans);
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .send-order-btn {
    height: 50px;
    min-width: 168px;
  }
}

.send-order-btn:hover,
.send-order-btn:focus {
  border-color: var(--accent-cl);
}
.btn-icon-arrow {
  fill: var(--accent-cl);
  transform: rotate(-30deg);

  margin-left: 10px;
}
