/**
  |============================
  | Your Order Section
  |============================
*/
.your-order-section {
  padding-top: 630px;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  background-position: center top;

  background-color: var(--primary-bg-cl);
  background-size: 375px 550px;
}
/* Mobile view */
@media only screen and (max-width: 767px) {
  .your-order-section {
    background-image: url('../img/section-your-order/bg-img-mobile@1x.jpg');
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section {
      background-image: url('../img/section-your-order/bg-img-mobile@2x.jpg');
    }
  }
}
/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-section {
    padding-top: 876px;
    padding-bottom: 79px;

    background-image: url('../img/section-your-order/bg-img-tablet@1x.jpg'),
      url('../img/section-your-order/bg-img-bottom@1x.png');
    background-size: 768px 776px, 325px 484px;
    background-position: center top, left bottom;
  }
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .your-order-section {
      background-image: url('../img/section-your-order/bg-img-tablet@2x.jpg'),
        url('../img/section-your-order/bg-img-bottom@2x.png');
    }
  }
}

/* Your Order container */
.your-order-container {
  display: flex;
  flex-direction: column;
}
/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-content-container {
    width: 542px;
    margin-bottom: 100px;
  }
}

/* SubTitle */
/* Tablet view */
@media only screen and (min-width: 768px) {
  .your-order-section .subtitle {
    line-height: 1.32;
  }
}

/* Content image */
.your-order-content-img {
  border-radius: 4px;
}
/* Mobile view*/
@media only screen and (max-width: 767px) {
  .your-order-content-img {
    display: none;
  }
}
/* Tablet view*/
@media only screen and (min-width: 768px) {
  .your-order-content-img {
    margin-left: auto;
  }
}

/* Form */
.your-order-form {
  text-align: center;
}
/* Tablet view*/
@media only screen and (min-width: 768px) {
  .your-order-form {
    padding-right: 34px;
    text-align: left;
  }
}

/* Form fields */
.form-label {
  display: block;
  margin-bottom: 20px;
}
.form-input {
  color: var(--primary-cl);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.02em;

  width: 100%;
  height: 47px;
  padding: 14px 16px;

  border-radius: 15px;
  border: 1px solid var(--light-cl-10);
  background-color: transparent;

  transition: border-color var(--trans);
}
/* Tablet view */
@media only screen and (min-width: 768px) {
  .form-input {
    font-size: 16px;
    height: 50px;
  }
}
.form-input::placeholder {
  color: var(--light-cl-50);
}
.form-input:focus {
  outline: none;
  border-color: var(--light-cl-60);
}
.form-label-comments {
  margin-bottom: 40px;
}
.input-comments {
  resize: none;
  height: 196px;
}

/* Submit button */
.send-order-btn {
  display: inline;
  color: var(--primary-cl);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  min-width: 145px;
  height: 49px;
  background-color: transparent;

  transition: border-color var(--trans);
}
/* Tablet view */
@media only screen and (min-width: 768px) {
  .send-order-btn {
    height: 50px;
    min-width: 168px;
  }
}
.send-order-btn:hover,
.send-order-btn:focus {
  border-color: var(--accent-cl);
}
.btn-icon-arrow {
  fill: var(--accent-cl);
  transform: rotate(-30deg);

  margin-left: 10px;
}
